/* You can add global styles to this file, and also import other style files */
@import './vars';
@import './navbar';
@import '_bootstrap-custom.scss';
body{
  color:$grey-color;
  background-color: $bg-color;
}



table{
  background-color: $grey-color;
  color: white;
}

hr{
  color: $grey-color;
}

.top30{
  padding-top: 30px;
}
#top90{
  padding-top: 90px;
}

//Delete Button
button.delete {
  float: left ;
  margin-top: 2px;
  background-color: gray !important;
  color:white;
}
