



<div class="container top30">

    <div class="[ col-xs-12 col-sm-6 ]">
        <h3>Buscar tarea</h3><hr/>
        <input [(ngModel)]="term"
               name="search"
               type="text"
               class="form-control"
               placeholder="Busque tarea">

    </div>

    <div class="[ col-xs-12 col-sm-6 ]">
      <h3>Añadir tarea </h3>
      <hr>
          <form (ngSubmit)=onSubmit()>
            <div class= "[ col-xs-12 col-sm-8 ]">
              <input
                     type="text"
                     name="title"
                     [(ngModel)] = "task.title"
                     class="form-control"
                     onclick="onSubmit()"
                     placeholder="Tarea..."
                     required>
            </div>


            <div class="[ col-xs-12 col-sm-4 ]">
            <button type="submit" class="btn btn-outline-primary" value="Submit">Guardar Cambios</button>
          </div>
          </form>

    </div>
</div>


      <div class="col-md-12 top30">
    <h1>{{term}}</h1>
    <hr *ngIf="term.length > 0">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Tarea</th>
          <th scope="col">Check</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of data | filter:term">
          <th scope="row">{{task.title}}</th>
          <td>      <input
                [(ngModel)]="task.completed"
                class="form-check-input"
                type="checkbox"
                name= "acepta"
                id="defaultCheck1" ></td>
          <td><button class="delete" (click)="delete(task.id)">Eliminar</button></td>
        </tr>

      </tbody>
    </table>

</div>








    <!-- <div class="form-check" *ngFor="let task of data | filter:term">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
      <label class="form-check-label" for="defaultCheck1" >
        {{task.title}}
      </label>
    </div>

    <ul>
      <li *ngFor="let task of data | filter:term" > {{task.title}}</li>
    </ul> -->
