
<div class="topnav" id="myTopnav">
  <a [routerLink]="['home']" routerLinkActive="active">Home</a>
  <a [routerLink]="['tasks']" routerLinkActive="active">Tareas</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

</div>
